@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
#root,
.app,
.content {
  height: 100%; /* todos los elementos seleccionados ocuparán el 100% delcontenedor padre (pantalla)*/
  width: 100%;
  /* Se define la fuente de todo el dashboard */
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0px !important;
  background-color: #f7f7f8;
}

:root {
  --color-blue50: #738cff;
  --color-blue100: #5e75f2;
  --color-blue200: #4a5cbf;
  --color-blue300: #3e4ea1;
  --color-blue400: #2a346b;
  --color-blue500: #1a2042;
}

.app {
  display: flex;
  position: relative; /* Permite posicionar los elementos hijos con relación a este elemento*/
}

.ellipsis {
  white-space: nowrap; /* Asegura que el texto no se envuelva a la siguiente línea */
  overflow: hidden; /* Oculta el contenido que excede del área del contenedor */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto visible */
}

.mainContainer {
  height: 100vh;
  /* position: sticky; */
  flex-grow: 1;
  padding: 5rem 3rem 3rem 3rem;
  /* background-color: #ffff; */
  /* background: #ffff; */
  /* border-radius: 2rem 0rem 0rem 2rem; */
}
.conf {
  height: 100vh;
  flex-grow: 1;
  padding: 3rem 1.5rem;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  z-index: 100000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.messagesContainer {
  width: 100%;
  flex-grow: 1;
  flex: 1;
  overflow-y: auto;
  background-color: white; /*#f1f1f1; */
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.messagesContainer::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

.messagesContainer::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

/* Estilos para mensajes del usuario */
.userMessage {
  align-self: flex-end; /* Alinea el mensaje del usuario a la derecha */
  background-color: var(--color-blue200);
  color: white; /*#d8e8ff; */
  padding: 0.9375rem; /* Convertido de 15px */
  margin: 0.75rem 1.25rem 0rem 0rem; /* Convertido de 12px 20px 0px 0px */
  border-radius: 1rem 0.25rem 1rem 1rem; /* Convertido de 30px 4px 30px 30px */
  max-width: 77%; /* Establece un ancho máximo para el mensaje */
  font-size: 0.75rem; /* Convertido de 12px */
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 10%);
}

/* Estilos para mensajes del asistente */
.aiMessage {
  align-self: flex-start; /* Alinea el mensaje del asistente a la izquierda */
  background-color: rgb(222, 222, 236); /*#20539e;*/
  color: rgb(37, 37, 37); /*#d8e8ff;*/
  padding: 0.9375rem; /* Convertido de 15px */
  margin: 0.75rem 0rem 0rem 0.3125rem; /* Convertido de 12px 0px 0px 5px */
  border-radius: 0.25rem 1rem 1rem 1rem; /* Convertido de 4px 30px 30px 30px */
  max-width: 72%; /* Establece un ancho máximo para el mensaje */
  font-size: 0.75rem; /* Convertido de 12px */
  font-family: "Open Sans", sans-serif;
  /* box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 20%); */
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.aiMessagePop {
  background-color: rgb(246, 246, 255);
  color: rgb(37, 37, 37);
  border-radius: 1rem;
  font-size: 0.75rem; /* 12px */
  z-index: 10000;
  padding: 0.9375rem; /* 15px */
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  position: fixed; /* Cambiado a fixed para fijar en la ventana */
  bottom: 6.8rem; /* Ajustado según la especificación */
  right: 7rem;
  /* Aplicando la animación */
  animation: jump 0.5s 2, stayStill 3s forwards;
  animation-delay: 0s, 1s; /* Inicia inmediatamente y luego espera 1s después de los saltos */
}

@keyframes stayStill {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}

/* @media (max-width: 600px) {
  .aiMessagePop {
    bottom: 9.6rem;
    right: 2.5rem;
  }
} */

/* Estilo para el typography del aiMessage*/
.typographyMessage {
  line-height: 1.4 !important;
  font-size: 0.875rem !important; /* Equivalente a 14px */
  white-space: pre-wrap;
  text-decoration: "none" !important;
}

/* Estilo para el primer mensaje del asistente con messageId 0 */
.aiMessageFirst {
  margin-left: 0.3125rem;
  margin-top: 0.75rem;
  border-radius: 0.25rem 1rem 1rem 1rem;
}

/* Estilo para los mensajes subsiguientes del asistente con messageId distinto de 0 */
.aiMessageOther {
  margin-left: 3.05rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.aiMessageVideo {
  margin-top: 0.5rem;
  padding: 0rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.aiLanguage1 {
  border: 2px solid var(--color-blue50);
  background-color: white;
  transition: background-color 0.3s ease, border 0.1s ease;
  padding: 0.7rem;
}

.aiLanguage {
  margin-left: 0.6rem;
  border: 0.125rem solid var(--color-blue50);
  background-color: white;
  transition: background-color 0.3s ease, border 0.1s ease;
  padding: 0.7rem;
}

.aiContact {
  border: 2px solid var(--color-blue50);
}
.aiContact:hover {
  background-color: #f2f2ff;
  border: 0.125rem solid var(--color-blue200);
}

.widget {
  align-self: flex-start; /* Alinea el mensaje del asistente a la izquierda */
  background-color: white; /*#20539e;*/
  color: rgb(37, 37, 37); /*#d8e8ff;*/
  padding: 0.9375rem; /* Convertido de 15px */
  margin: 0.75rem 0rem 0rem 0.3125rem; /* Convertido de 12px 0px 0px 5px */
  border-radius: 0.25rem 1rem 1rem 1rem; /* Convertido de 4px 30px 30px 30px */
  max-width: 72%; /* Establece un ancho máximo para el mensaje */
  font-size: 0.75rem; /* Convertido de 12px */
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 20%);
  margin-left: 3.05rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

/* Estilo para el container del logo a la izq del mensaje*/
.logoContainerButton {
  /* box-shadow: "0px 4px 8px rgb(0 0 0 / 0.7)"; */
  width: 100%;
  height: 100%;
  margin-bottom: 0.3rem;
  z-index: 100000;
}
.logoContainerButton svg {
  filter: drop-shadow(0px 0px 2px black);
  z-index: 100000;
}

.logoContainer {
  margin: 0.75rem 0rem 0rem 0.75rem;
  width: 2rem;
  height: 2rem;
}

/* Clases css para el frame del video de youtube*/
.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsiveIframeBox {
  margin-top: 0.2rem;
  margin-left: 0rem; /*3.0625rem; */
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: calc(100% * 9 / 16); /* Ratio 16:9 */
  border-radius: 0rem 0rem 1rem 1rem;
}

@keyframes open-animation {
  0% {
    opacity: 0;
    transform: translateY(-8px) scale(0.95);
  }

  50% {
    opacity: 1;
    transform: translateY(4px) scale(1.05);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes close-animation {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  50% {
    opacity: 1;
    transform: translateY(4px) scale(1.05);
  }

  100% {
    opacity: 0;
    transform: translateY(-8px) scale(0.95);
  }
}

.anim-open {
  animation: open-animation 0.4s ease-in forwards;
}

.anim-close {
  animation: close-animation 0.4s ease-in forwards;
}
